/* font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: 'Oswald', sans-serif; 
}

h2 {
  color: #a59678;
}

.btn {
  background-color: #a59678;
  border-radius: 100px;
  padding: 0.25em 1em;

  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}

/* ---------- Layout ---------- */
.row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;

  position: relative;

  gap: 30px;
}

/* ---------- Navigation Menu Mobile ---------- */
header {
  background-color: #2e323f;
  padding: 1.2rem 0;
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo {
  height: 30px;
}

/* Nav List */
.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}

.nav__item {
  margin-bottom: 0.75rem;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

/* ---------- Hamburger Button and functionality for nav menu ---------- */
.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #a59678;
  color: white;
  transition: opacity 250ms ease;

  display: block;
  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

/* ---------- Hero Section ---------- */
.hero {
  background: #3B4050;
  min-height: 100vh;
}

.hero__heading {
  color: #ffffff;
  font-size: 2rem;
  padding: 2rem 0;
}

.colored-h1 {
  color: #a59678;
}

.hero__text {
  color: #a6a8ad;
  font-size: 24px;
}

.hero__text p {
  margin-bottom: 3rem;
}

/* ---------- Features Section ---------- */
.section-features {
  background: #cacfdfcc;
  padding: 2rem 0;
}

.features {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem 1rem;
}

.features__heading {
  font-family: 'Oswald', sans-serif;
  color: #a59678;
  font-size: 30px;
  margin-bottom: .5rem;
}

.features__text {
  font-size: 18px;
}

/* ---------- Main Section ---------- */
.main {
  padding: 2rem 0;
  
}

.primary-content {

}

.primary-content__title {
  font-size: 36px;
}

.primary-content__text {
  font-size: 18px;
}

.primary-content__img {
  min-height: 200px;
}