/* font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}

h2 {
  color: #a59678;
}

.btn {
  background-color: #a59678;
  border-radius: 100px;
  padding: 0.25em 1em;

  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}

/* ---------- Layout ---------- */
.row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;

  position: relative;

  gap: 30px;
}

/* ---------- Navigation Menu Mobile ---------- */
header {
  background-color: #2e323f;
  padding: 1.2rem 0;
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo {
  height: 30px;
}

/* Nav List */
.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}

.nav__item {
  margin-bottom: 0.75rem;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

/* ---------- Hamburger Button and functionality for nav menu ---------- */
.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #a59678;
  color: white;
  transition: opacity 250ms ease;

  display: block;
  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

/* ---------- Hero Section ---------- */
.hero {
  background: #3b4050;
  padding: 2rem 0;
}

.hero__heading {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.colored-h1 {
  color: #a59678;
}

.hero__text {
  color: #a6a8ad;
  font-size: 24px;
}

.hero__text p {
  margin-bottom: 3rem;
}

/* ---------- Features Section ---------- */
.section-features {
  background: #cacfdfcc;
  padding: 2rem 0;
}

.features {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem 1rem;
}

.features__heading {
  font-family: "Oswald", sans-serif;
  color: #a59678;
  font-size: 30px;
  margin-bottom: 0.5rem;
}

.features__text {
  font-size: 18px;
}

/* ---------- Main Section ---------- */
.main {
  padding: 2rem 0;
}

.primary-content__title {
  font-size: 36px;
  margin-bottom: 1rem;
}

.primary-content__text {
  font-size: 18px;
}

.primary-content__img {
  min-height: 200px;
  margin: 1.5rem 0;
}

.content-box {
  background: #3b4050;
  text-align: center;
  padding: 2rem 1rem;
  margin: 1rem 0;
}

.content-box__title {
  color: #ffffff;
  margin-bottom: 1rem;
}

.content-box__text {
  color: #a6a8ad;
}

/* ---------- Footer ---------- */
.footer {
  background: #3b4050;
  padding: 2rem 0;
}

.footer__heading {
  font-size: 35px;
  color: #ffffff;
  text-align: center;
}

.footer-texts {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-texts h3 {
  color: #a59678;
  font-size: 21px;
  margin: 2rem 0 0.5rem 0;
}

.footer-texts p {
  font-size: 16px;
  color: #6f737f;
}

.footer-texts__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footer-texts__link {
  text-decoration: none;
  color: #6f737f;
  padding: 0.5rem;
}

@media (min-width: 700px) {
  .row {
    flex-direction: row;
  }

  .nav-toggle {
    display: none;
  }
 
  .nav {
    visibility: visible;
    display: flex;
    height: auto;
    flex-grow: 1;
    flex-shrink: 1;
    
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    
    gap: 40px;
  }

  .nav__list {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0;
  }

  .btn {
    transition: all 0.3s;
    display: inline-block;
  }

  .btn:hover {
    transform: translateY(-2px);
    box-shadow: rgba(228, 10, 10, 0.24) 0px 3px 10px;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-self: center;
  }
}
